{% extends "WallPostBundle::base.layout.html.twig" %}

{% block title %}Posts{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			{% for post in posts %}
				<article class="panel panel-default">
					<div class="panel-heading">{{ post.title }}</div>

					<div class="panel-body">
						<p>{{ post.body }}</p>
						{% if post.author is empty %}
							<span class="text-muted">Anonymous</span>
						{% else %}
							<span class="text-muted text-success">Author: {{ post.author }}</span>
						{% endif %}
					</div>
				</article>
			{% endfor  %}
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					{% form_theme postForm 'bootstrap_3_layout.html.twig' %}
					{{ form(postForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
